---
title: 归档
layout: default
description: 李白《静夜思》<br/> 床前明月光，疑是地上霜。<br/>举头望明月，低头思故乡。<br/>
header-img: "img/home/bg-categroies.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading" id="tag-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
          <span class="subheading">{{ page.description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <!-- 标签云 -->
        <div id='tag_cloud' class="tags">

            {% assign post_year_string = ""  %}
            {% for post in site.posts %}
                {% assign currentdate = post.date | date: "%Y" %}
                {% if currentdate != date %}
                    <a href="#{{ currentdate | plus: 1 }}" title="{{ currentdate | plus: 1 }}" rel="{{ post_number }}">{{ currentdate | plus: 1 }}({{ post_number }})</a>
                    {% assign date = currentdate %}
                    {% assign post_number = 0 %}
                    {% assign post_year_string = post_year_string | append: currentdate | append: ',' %}
                {% endif %}
                {% assign post_number = post_number | plus: 1 %}
                <!-- {% if forloop.last %}</ul>{% endif %}-->
            {% endfor %}
            <a href="#{{ currentdate }}" title="{{ currentdate }}" rel="{{ post_number }}">{{ currentdate }}({{ post_number }})</a>
        </div>

        <!-- 标签列表 -->
        {% assign post_year_string = post_year_string | split: "," %}
        {% for tag in post_year_string %}
            <div class="one-tag-list">
            <span class="fa fa-tag listing-seperator" id="{{ tag }}">
                <span class="tag-text">{{ tag }}</span>
            </span>

            {% for post in site.posts %}
                {% assign currentdate = post.date | date: "%Y" %}
                {% if currentdate == tag %}
                    <div class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl | remove: "/index" }}">
                        <h2 class="post-title">
                        {{ post.title }}
                        </h2>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                        {% endif %}
                    </a>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}

    </div>
  </div>
</div>
