---
layout: page
description: "大白天做了个梦~"
header-img: "img/about-bg.jpg"
multilingual: false
---

<div class="zh post-container">
    {% capture talks3 %}{% include talks/2017/2017-07-06-talks.md %}{% endcapture %}
    {{ talks3 | markdownify | truncate:227}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-07-06-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks4 %}{% include talks/2017/2017-02-12-talks.md %}{% endcapture %}
    {{ talks4 | markdownify | truncate:227}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-02-12-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks10 %}{% include talks/2016/2016-12-28-talks.md %}{% endcapture %}
    {{ talks10 | markdownify | truncate:238}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2016/2016-12-28-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    <!-- 分页 -->
    <ul class="pager">
        <li class="previous">
            <a href="{{ "/talks" | prepend: site.baseurl }}">&larr; 上一页</a>
        </li>
    </ul>
</div>

{% if site.plugin-changyan-use %}
    {% include plugins/changyan.html %}
{% endif %}

{% if site.plugin-disqus-use %}
    {% include plugins/disqus.html %}
{% endif %}
