---
layout: page
description: 李白《独坐敬亭山》<br/>众鸟高飞尽，孤云独去闲。<br/>相看两不厌，只有敬亭山。
header-img: "img/talks/bg-city.jpg"
multilingual: false
isPager: true
---

<div class="zh post-container">
    <!-- 10, 14, 15-->
    <!-- 2, 3, 4, 6, 17-->
    <!-- 1, 5, 7, 8, 9, 11, 13, 16, 18, 19, 20 -->

    <!-- 20, 19, 18, 16, 11, 12, 1, 8, 5, 7, 13, 9 -->
    <!-- 1, 5, 7, 8, 9, 11, 12, 13, 16, 18, 19, 20 -->
    nice 2018!
    <hr/>

    {% capture talks20 %}{% include talks/2018/2018-11-14-talks.md %}{% endcapture %}
    {{ talks20 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-11-14-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks19 %}{% include talks/2018/2018-10-10-talks.md %}{% endcapture %}
    {{ talks19 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-10-10-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks18 %}{% include talks/2018/2018-09-09-talks.md %}{% endcapture %}
    {{ talks18 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-09-09-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks16 %}{% include talks/2018/2018-08-03-talks.md %}{% endcapture %}
    {{ talks16 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-08-03-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks12 %}{% include talks/2018/2018-07-27-talks.md %}{% endcapture %}
    {{ talks12 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-07-27-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks11 %}{% include talks/2018/2018-07-26-talks.md %}{% endcapture %}
    {{ talks11 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-07-26-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks1 %}{% include talks/2018/2018-07-18-talks.md %}{% endcapture %}
    {{ talks1 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-07-18-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks8 %}{% include talks/2018/2018-06-25-talks.md %}{% endcapture %}
    {{ talks8 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-06-25-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks5 %}{% include talks/2018/2018-05-16-talks.md %}{% endcapture %}
    {{ talks5 | markdownify | truncate:258}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-05-16-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks7 %}{% include talks/2018/2018-05-07-talks.md %}{% endcapture %}
    {{ talks7 | markdownify | truncate:258}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-05-07-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks13 %}{% include talks/2018/2018-05-06-talks.md %}{% endcapture %}
    {{ talks13 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-05-06-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks9 %}{% include talks/2018/2018-04-01-talks.md %}{% endcapture %}
    {{ talks9 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-04-01-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

</div>