---
layout: page
description: "大白天做了个梦~"
header-img: "img/about-bg.jpg"
multilingual: false
---

<div class="zh post-container">
    {% capture about_zh %}{% include talks/2018/2018-07-18-talks.md %}{% endcapture %}
    {{ about_zh | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-07-18-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    <!-- 分页 -->
    <ul class="pager">
        <li class="previous">
            <a href="{{ "/talks" | prepend: site.baseurl }}">&larr; 上一页</a>
        </li>
    </ul>
</div>

{% if site.plugin-changyan-use %}
    {% include plugins/changyan.html %}
{% endif %}

{% if site.plugin-disqus-use %}
    {% include plugins/disqus.html %}
{% endif %}
