<script src="{{ "/assets/js/jquery.pjax.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/nprogress.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

{% if site.mathjax == 'enabled' %}
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}


<!-- 不蒜子 脚本 -->
{% if site.plugin-busuanzi-use %}
    <div id="busuanzi">
        <script id="reloadjs1" type="text/javascript" src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <script type="text/javascript">
            function reloadBSZ() {
                console.log("reloadBSZ");
                var busuanziJs = '<script id="reloadjs1" type="text/javascript" src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">&lt;/script>';
                $("#busuanzi #reloadjs1").remove();
                setTimeout(function() {
                    /* 重新添加不蒜子脚本，这样才可以重新加载当前页的计数信息 */    
                    $("#busuanzi").append(busuanziJs);
                }, 1000);
            }
        </script>
    </div>
{% endif %}
<!-- 不蒜子 -->

<script type="text/javascript">
    
    var changyanJs = '<script id="changyanJs" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js">&lt;/script>';
    $(document).on("click", "#toc .toc-link", function() {
        /* 关闭左侧侧边栏 */
        $("#menu").click(); 
        
        /* 默认展开TOC */
        var interval = setInterval(function() {
            if (0 != $("#post-toc-menu").length) {
                if (!$("#post-toc").hasClass("open")) {
                    $("#post-toc-menu").click();
                }           
                clearInterval(interval);
            }
        }, 100);
        
        /* 重新加载不蒜子计数脚本 */
        reloadBSZ();
        /* 刷新畅言脚本没有用，需要刷新页面才行 */
        
    });
    $(document).ready(function() {
        $("#menu").click();
        $("#post-toc-menu").click(); 
    });
  
</script>

{% if site.ga %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.ga.id }}', '{{ site.ga.url }}');
      ga('send', 'pageview');
    </script>
{% endif %}
