

<!-- 目录插件 -->
<script src="{{ site.baseurl }}/plugins/toc/js/toc.js" type="text/javascript"></script>

<!-- 渲染到toc中 -->
<div id="toc"></div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#toc').toc({
			listType: 'ul', // 无序列表
			// minimumHeaders: 2,
			title: "<center><h3>目录(TOC)</h3></center>", // 标题
			// headers: ' .content h4, .content h5, .content h6',
			// list: 'lorem ipsum',
			// item: 'dolor sit amet',
			showEffect: 'show',
			showSpeed: 'fast',
			//classes: { 
			//	list: 'clickable-header',
			//  item: 'clickable-header',
            // }
			
		});
	});
</script>
<style>
	.clickable-header {
	  cursor:pointer;
	}
	.clickable-header:hover {
	  text-decoration:underline;
	}
	.top-level-header {
	  display:inline;
	}
	.back-to-top {
	  margin-left:5px;
	  cursor:pointer;
	}
</style>