---
layout: page
title: 说说
description: 杜牧《过清华宫》<br/>长安回望绣成堆，山顶千门次第开。<br/>一骑红尘妃子笑，无人知是荔枝来。
header-img: "img/home/bg-talks.jpg"
multilingual: false
---


<div class="zh post-container">
    {% capture talks1 %}{% include talks/2018/2018-07-18-talks.md %}{% endcapture %}
    {{ talks1 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2018/2018-07-18-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>
    
    {% capture talks2 %}{% include talks/2017/2017-08-19-talks.md %}{% endcapture %}
    {{ talks2 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-08-19-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>
    
    {% capture talks3 %}{% include talks/2017/2017-07-06-talks.md %}{% endcapture %}
    {{ talks3 | markdownify | truncate:227}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-07-06-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>
    
    {% capture talks4 %}{% include talks/2017/2017-02-12-talks.md %}{% endcapture %}
    {{ talks4 | markdownify | truncate:227}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-02-12-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>
    <!--
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/pager/2018/2018-07-21-page" | prepend: site.baseurl}}">下一页 &rarr;</a>
        </li>
    </ul>-->
</div>

{% if site.plugin-changyan-use %}
    {% include plugins/changyan.html %}
{% endif %}

{% if site.plugin-disqus-use %}
    {% include plugins/disqus.html %}
{% endif %}
