---
layout: page
description: 李白《赠汪伦》<br/>李白乘舟将欲行，忽闻岸上踏歌声。<br/>桃花潭水深千尺，不及汪伦送我情。
header-img: "img/talks/bg-bamboo.jpg"
multilingual: false
isPager: true
---

<div class="zh post-container">
    <!-- 6, 2, 3, 17, 4-->
    <!--  2, 3, 4, 6, 17-->

     哇呀呀呀呀
    <hr/>

    {% capture talks6 %}{% include talks/2017/2017-10-12-talks.md %}{% endcapture %}
    {{ talks6 | markdownify | truncate:200}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-10-12-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks2 %}{% include talks/2017/2017-08-19-talks.md %}{% endcapture %}
    {{ talks2 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-08-19-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks3 %}{% include talks/2017/2017-07-06-talks.md %}{% endcapture %}
    {{ talks3 | markdownify | truncate:227}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-07-06-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks17 %}{% include talks/2017/2017-06-01-talks.md %}{% endcapture %}
    {{ talks17 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-06-01-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks4 %}{% include talks/2017/2017-02-12-talks.md %}{% endcapture %}
    {{ talks4 | markdownify | truncate:227}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2017/2017-02-12-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

</div>