---
layout: page
description: 欧阳修《玉楼春·别后不知君远近 》<br/>别后不知君远近。触目凄凉多少闷。渐行渐远渐无书，水阔鱼沉何处问。<br/>夜深风竹敲秋韵。万叶千声皆是恨。故欹单枕梦中寻，梦又不成灯又烬。
header-img: "img/talks/2019/2019-01-01-page.jpg"
multilingual: false
isPager: true
---



<div class="zh post-container">
    <!-- 10, 14, 15-->
    <!-- 2, 3, 4, 6, 17-->
    <!-- 1, 5, 7, 8, 9, 11, 13, 16, 18, 19, 20 -->

    <!-- 20, 19, 18, 16, 11, 12, 1, 8, 5, 7, 13, 9 -->
    <!-- 1, 5, 7, 8, 9, 11, 12, 13, 16, 18, 19, 20 -->
	
	转眼快3月了~把堆积的几篇说说放上来
	<br/>
    2019--------------2019------------努力，奋斗！
    <br/>
    
    <hr/>
	
	{% capture talks28 %}{% include talks/2019/2019-02-22-talks.md %}{% endcapture %}
    {{ talks28 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2019/2019-02-22-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>
	
	{% capture talks27 %}{% include talks/2019/2019-02-17-talks.md %}{% endcapture %}
    {{ talks27 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2019/2019-02-17-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>
	
	{% capture talks26 %}{% include talks/2019/2019-02-07-talks.md %}{% endcapture %}
    {{ talks26 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2019/2019-02-07-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>
	
	{% capture talks25 %}{% include talks/2019/2019-02-04-talks.md %}{% endcapture %}
    {{ talks25 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2019/2019-02-04-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>
	
	{% capture talks24 %}{% include talks/2019/2019-01-26-talks.md %}{% endcapture %}
    {{ talks24 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2019/2019-01-26-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>
	
	{% capture talks23 %}{% include talks/2019/2019-01-18-talks.md %}{% endcapture %}
    {{ talks23 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2019/2019-01-18-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

</div>