---
layout: default
---

<style type="text/css">
  header.intro-header {
    position: relative;
    background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
  }
  {% if page.header-mask %}
    header.intro-header .header-mask {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0,0,0, {{ page.header-mask }});
    }
  {% endif %}
</style>
<!-- Post Header -->
<header class="intro-header" >
  <div class="header-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <div class="tags">
            {% for tag in page.tags %}
              <a class="tag" href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </div>
          <h1>{{ page.title }}</h1>
          {% comment %} always create a h2 for keeping the margin , Hux {% endcomment %}
          <h2 class="subheading" style="text-align: center">{{ site.moto }}</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <!-- Post Container -->
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
        {% if page.multilingual %} <!-- Multi-Lingual -->
          <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
            <option value="0" selected> 中文 Chinese </option>
            <option value="1"> 英文 English </option>
          </select>
        {% endif %}

        {{ content }} <!-- post content -->
        <hr style="visibility: hidden;">

        {% if page.relative-tags %} <!-- relative tags -->
          <ul><li>相关文章<ul>
            {% for rtag in page.relative-tags %}
              <li>{{ rtag }}<ul>
                {% for tag in site.tags[rtag] %}
                  <li><a target="_blank" href="{{ tag.url | prepend: site.baseurl  | remove: "/index" }}">{{ tag.title }}</a></li>
                {% endfor %}
              </ul></li>
            {% endfor %}
          </ul></li></ul>
        {% endif %}

		<div class="row">
			<!-- 来必力City版安装代码 -->
			<div id="lv-container" data-id="city" data-uid="MTAyMC81MzMzMi8yOTgwNg==">
				<script type="text/javascript">
			   (function(d, s) {
				   var j, e = d.getElementsByTagName(s)[0];

				   if (typeof LivereTower === 'function') { return; }

				   j = d.createElement(s);
				   j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
				   j.async = true;

				   e.parentNode.insertBefore(j, e);
			   })(document, 'script');
				</script>
				<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
			</div>
			<!-- City版安装代码已完成 -->
		</div>
      </div>
	  
	  

      {% if page.catalog %} <!-- Side Catalog Container -->
        <div class="col-lg-2 col-lg-offset-0 visible-lg-block sidebar-container catalog-container">
          <div class="side-catalog">
            <hr class="hidden-sm hidden-xs">
            <h5><a class="catalog-toggle" href="#">目录</a></h5>
            <ul class="catalog-body"></ul>
          </div>
        </div>
      {% endif %}
	  
      <!-- Sidebar Container -->
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 sidebar-container">
        <hr>
        <center>
          {% if site.sidebar-avatar %} <img src="{{ site.sidebar-avatar }}" /> {% endif %}
          {% if site.sidebar-about-description %}
            <p>{{site.sidebar-about-description}}</p>
          {% endif %}
        </center>
      
        {% if site.featured-tags %} <!-- Featured Tags -->
          <section>
            <!-- <hr class="hidden-sm hidden-xs">
            <h5><a href="/tags/">推荐标签</a></h5>-->
            <div class="tags">
              {% for tag in site.tags %}
                {% if tag[1].size > site.featured-condition-size %}
                  <a href="/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                    {{ tag[0] }}
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          </section>
        {% endif %}
        
        {% if site.friends %} <!-- Friends Blog -->
          <hr>
          <h5>FRIENDS</h5>
          <ul class="list-inline">
            {% for friend in site.friends %}
              <li><a href="{{friend.href}}">{{friend.title}}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if site.plugin-gitalk-use %} <!-- gitalk comments -->
          {% include plugins/gitalk.html %}
        {% endif %}
        
      </div>
    </div>
  </div>
</article>

{% if site.anchorjs %} <!-- async load function -->
  <script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
  </script>
  <!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
  <script>
    async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'always',
          placement: 'right',
          icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
  </script>
  <style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
  </style>
{% endif %}
