---
layout: page
description: 杜牧《绝句》<br/>两个黄鹂鸣翠柳，一行白鹭上青天。<br/>窗含西岭千秋雪，门泊东吴万里船。
header-img: "img/talks/bg-kids2.jpg"
multilingual: false
isPager: true
---

<div class="zh post-container">

    Yoyo , 切克闹 , 煎饼果子来一套
    <hr/>
    <!-- 10, 15, 14-->
    <!-- 10, 14, 15-->

    {% capture talks10 %}{% include talks/2016/2016-12-28-talks.md %}{% endcapture %}
    {{ talks10 | markdownify | truncate:238}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2016/2016-12-28-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks15 %}{% include talks/2016/2016-01-02-talks.md %}{% endcapture %}
    {{ talks15 | markdownify | truncate:240}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2016/2016-01-02-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

    {% capture talks14 %}{% include talks/2016/2016-01-01-talks.md %}{% endcapture %}
    {{ talks14 | markdownify | truncate:300}}
    <ul class="pager">
        <li class="next">
            <a href="{{ "/talks/2016/2016-01-01-talks" | prepend: site.baseurl }}"> 阅读全文  &rarr;</a>
        </li>
    </ul>
    <hr>

</div>